
# MongoDB Build and Data Files
bazel-bin/
bazel-out/
bazel-genfiles/
bazel-testlogs/

data/
dump_python3.*.core
*.core

# Compiler/Temporary files (like the one that caused the error)
shell/msvc/ipch/
*.ipch

# Embedded Git repository (Optional, but clean)
external/mongo

